* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    background-color: rgb(207, 206, 206);
}
/*
main {
    background-color: rgb(207, 206, 206);
}*/
nav {
    background-image: url(images/sidebar-1.jpg);
    background-position: -500px;
    flex: 1;
    height: 100vh;
    width: 300px;
}

.nav-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    margin-bottom: 20px;
    padding: 10px;
}

.nav-overlay h1 {
    color: white;
    word-spacing: 10px;
    margin: 10px;
}

.avatar {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    margin: 10px 20px; 
    color: white;
}

.avatar img {
    border-radius: 15px; 
    width: 40px;
    height: 40px; 
}

.avatar h4 {
    flex: 3;
    color: white;
    margin-left: 10px;
}

nav ul {
    padding: 0;
}

nav li {
    list-style-type: none;
    margin-bottom: 10px;
}

nav li a {
    display: flex; 
    align-items: center; 
    text-decoration: none;
    color: white;
    padding: 5px;
    border-radius: 10px;
    justify-content: space-between;
}

.prova {
    display: flex;
    align-items: center;
}

.active {
    background-color: rgba(196, 75, 95, 0.9);
}

.nav-overlay hr {
    margin: 5px 0; 
    color: rgb(156, 152, 152);
}

nav li:hover {
    background-color: grey;
}

.material-icons {
    padding: 10px;
}
nav li.active:hover {
    background-color: rgba(196, 75, 95, 0.9);
}
/*Second part*/
.description {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    background-color: rgb(207, 206, 206);
}

.header {
    display: flex;
    align-items: center;
    position: relative;
}

.first-icon {
    font-size: 24px; 
    margin: 10px; 
    border-radius: 50%;
    color: gray;
    background-color: #e0e0e0; 
    padding: 10px; 
    transition: box-shadow 0.3s;
}

.header p{
    margin: 0;
    font-size: 20px;
}

.header::after{
    content: "See more"; 
    position: absolute;
    border: 2px solid grey;
    background-color: grey;
    color: white;
    bottom: -5px;
    left: 90%;
    width: 60px;
    transform: translateX(-50%);
    opacity: 0; 
    transition: opacity 0.3s; 
}

.header:hover i{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.dashboard {
    display: flex;
    flex-direction: flex-end;
    padding-top: 20px;
    font-size: 20px;
}

.header:hover:after, .header2:hover:after {
    opacity: 1; 
}

.second-icon {
    margin-top: 10px;
    margin-left: 600px; 
    border-radius: 50%;
    background-color: #e0e0e0; 
    color: gray;
    transition: box-shadow 0.3s;
}

.header2:after {
    content: "Search"; 
    position: absolute;
    border: 2px solid grey;
    background-color: grey;
    width: 50px;
    color: white;
    top: 60px;
    right: 380px;
    transform: translateX(-50%);
    opacity: 0; 
    transition: opacity 0.3s; 
}

.second-icon:hover:after {
    opacity: 1; 
}

.second-icon:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header3 {
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
    color: gray;
    font-size: 15px;
}

.header3:after {
    content: "Dashboard"; 
    position: absolute;
    border: 2px solid grey;
    background-color: grey;
    color: white;
    top: 50px;
    right: 300px;
    transform: translateX(-50%);
    opacity: 0; 
    transition: opacity 0.3s; 
}

.header3:hover:after {
    opacity: 1; 
}


.alert-icon {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 24px;
    margin: 10px;
    cursor: pointer;
    margin-top: 32px; 
    margin-left: 75px;
}

.notification-indicator {
    background-color: red;
    color: white;
    border-radius: 70%;
    font-size: 10px;
    margin-right: 5px; 
    padding: 5px;
    margin-top: -20px; 
    margin-left: -1px;
    z-index: 1;
}

.notification {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    color: #131313;
    font-size: 14px;
    padding: 10px;
    border-radius: 8px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.notification:hover {
    margin: 10px;
}

.alert-icon:hover .notification {
    opacity: 1;
    visibility: visible;
}

.notification-content {
    width: 200px;
    text-align: left;
}

.notification-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.notification-content li {
    margin-bottom: 8px;
    transition: background-color 0.3s;
}

.notification-content li:hover {
    background-color: orange;
    color: white;
}

.notification-icon {
    font-size: 24px;
    margin-left: 20px;
    position: absolute;
    left: -44px;
    color: gray;
}

.profile {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 15px;
    margin: 10px;
    cursor: pointer;
    margin-top: 10px; 
    margin-left: 45px;
    color: gray;
}

.profile:after {
    content: "profile"; 
    position: absolute;
    border: 2px solid grey;
    background-color: grey;
    color: white;
    top: 40px;
    left: 50px;
    transform: translateX(-50%);
    opacity: 0; 
    transition: opacity 0.3s;
}

.profile:hover:after {
    opacity: 1; 
}

.information {

}